@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 40% 98%;
  --foreground: 222.2 47.4% 11.2%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
  --primary: 167.8 67.1% 28.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 213.3 36% 95.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 213.3 36% 95.1%;
  --muted-foreground: 215.3 25% 26.7%;
  --accent: 213.3 36% 95.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --border: 215.3 25% 26.7%;
  --ring: 167.8 67.1% 28.6%;
  --sidebar: 213.3 36% 95.1%;
  --strong-border: 215.3 25% 26.7%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 167.8 67.1% 28.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213.3 36% 95.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 213.3 36% 95.1%;
    --muted-foreground: 215.3 25% 26.7%;
    --accent: 213.3 36% 95.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --border: 215.3 25% 26.7%;
    --ring: 167.8 67.1% 28.6%;
    --sidebar: 213.3 36% 95.1%;
    --strong-border: 215.3 25% 26.7%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Date & Month Picker Empty States - hide browser placeholder dashes when empty and not focused */
.date-input-empty::-webkit-datetime-edit {
  color: transparent !important;
}
.date-input-empty:focus::-webkit-datetime-edit {
  color: inherit !important;
}

/* Styling for Rich Text Content lists in viewer and editor */
.prose ul, .react-quill-wrapper .ql-editor ul {
  list-style-type: disc !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding-left: 1.5rem !important;
  list-style-position: outside !important;
}

.prose ol, .react-quill-wrapper .ql-editor ol {
  list-style-type: decimal !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding-left: 1.5rem !important;
  list-style-position: outside !important;
}

.prose li, .react-quill-wrapper .ql-editor li {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  display: list-item !important;
}


